@import url("base.css");

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

#login-form-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 26rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    #login-form-card {
        background-color: var(--color-white);
        padding: 40px;
        border-radius: var(--border-radius);
        border-width: var(--border-width);
        border-color: var(--border-color-translucent);
        border-style: solid;
        user-select: none;

        .logo {
            margin-bottom: 3rem;
            width: 100%;
        }

        .input-label {
            margin-bottom: 0.5rem;
        }

        .input-field {
            width: 100%;
            padding: 0.6rem 0.75rem;
        }

        .checkbox-label {
            margin-top: 0.5rem;
        }

        button {
            margin-top: 2rem;
        }
    }

    #not-customer {
        text-align: center;
    }
}

.login-input {
    >.password-label {
        display: flex;
        justify-content: space-between;
    }
}

#not-customer {
    margin-top: 1rem;
    color: #6C7a91;
}

#not-customer {
    user-select: none;
}